
body{ 
   font-family: 'Open Sans', sans-serif;
   text-align: center;
      

}

#hero { 
  
  width: 626px;
  margin: auto;

}


h1{ 
  font-family: 'Dosis', sans-serif;
  color: #3F3D56;
  font-size: 32px;
  line-height: 40px;
  font-weight: normal;
  width: auto;
  
  
}

h1 span { 
  font-weight: bold;
  color: blueviolet;


}
p span { 
  color: #828282;
  font-weight: bold;

}

 p strong {
  color: #3F3D56;
 }

p,#footer{ 
   font-family: 'Open Sans', sans-serif;
   color: #828282;
   width:auto;
   font-size: 15px;
   line-height: 22px;
   width: 540px;


}

a{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold; 
  color: #3F3D56;

}



#line { 
  width: 568px;
  height: 0px;
  left: 317px;
  margin: 0 auto 8px;
  border: 1px solid #ECEFF2;
       
}

#footer a + a { 
  margin-left: 42px;

}

#wave {
  position: absolute;  
  width: 100%;
  left: 0;
  margin-top: 104px;
}

